*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // 1rem = 9px, 9*100/16
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // 1rem = 8px, 8*100/16
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1rem = 12px, 12*100/16
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.custom-link {
  color: rgba($color-blue, 0.8);
  text-decoration: underline;
  padding: 0.5rem;
  transition: color 0.1s $bezier-curve, background-color 0.1s $bezier-curve;

  &:hover {
    background-color: rgba($color-blue, 0.1);
    color: rgba($color-blue, 1);
  }
}

::selection {
  background-color: $color-accent;
  color: $color-primary;
}
