.u-center-text {
  text-align: center !important;
}

.u-center-content {
  width: 1450px;
  margin-left: auto;
  margin-right: auto;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.sizedbox-exsmall {
  height: 2rem;
}

.sizedbox-small {
  height: 5rem;
}

.sizedbox-medium {
  height: 10rem;
}

.sizedbox-big {
  height: 15rem;
}

.u-rm-blue-highlight,
button,
a,
.drop-down {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
