$color-primary: #f9f9f9;
$color-secondary: #07070a;
$color-accent: #25b190;

$color-pink: #fdf3ec;
$color-blue: #1868b7;

$color-grey-1: #121212;
$color-grey-2: #3a3a3a;
$color-grey-3: #898989;

$primary-font: 'Space Grotesk', sans-serif;
$secondary-font: 'Poppins', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;

$bezier-curve: cubic-bezier(0, 0.68, 0.77, 0.99);
