.footer {
  background-color: $color-secondary;
  padding: 6rem 7rem 10rem;
  position: relative;

  @include respond(tab-port) {
    padding: 8rem 4rem 12rem;
  }

  @include respond(phone) {
    padding: 12rem 4rem 14rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      gap: 5rem;
    }

    .logo {
      img {
        width: 20rem;

        @include respond(phone) {
          width: 25rem;
        }
      }
    }

    .socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;

      @include respond(phone) {
        gap: 5rem;
      }

      & li {
        list-style: none;

        a {
          font-size: 3.5rem;
          color: $color-primary;

          img {
            display: block;
          }
        }
      }
    }
  }

  .credit {
    color: $color-secondary;
    position: absolute;
  }

  .right {
    text-align: center;
    color: rgba($color-primary, 0.7);
    font-size: 1.4rem;
    position: absolute;
    bottom: 4%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }
}
