.navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-primary;
  width: 100%;
  padding: 2.4rem 5rem;
  box-shadow: 0px 1px 0px rgba($color-grey-2, 0.1);
  z-index: 10000;
  min-height: 5vh;
  transition: min-height 0.5s $bezier-curve;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include respond(tab-port) {
    padding: 2rem 3.5rem;
  }

  .logo {
    flex: 1;

    img {
      width: 15rem;

      @include respond(phone) {
        width: 12rem;
      }
    }
  }

  &__button {
    display: none;
  }

  .nav-list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 6rem;

    @include respond(tab-port) {
      flex: 2;
      gap: 4rem;
    }

    .nav-item {
      font-size: 1.6rem;
      text-align: center;

      &:hover {
        a {
          color: $color-accent;
        }
      }

      a {
        color: $color-grey-2;
        transition: color 0.3s $bezier-curve;
      }
    }
  }

  //   RESPONSIVE NAV
  @include respond(phone) {
    .nav-list {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: scale(0);
      gap: 6rem;
      transition: transform 0.3s $bezier-curve;

      .nav-item {
        font-size: 2rem;
        text-align: center;

        a {
          color: $color-grey-2;
          padding: 2rem;
        }
      }
    }

    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }

    &__button {
      display: block;
      cursor: pointer;
      height: 40px;
      background-color: transparent;
      border: none;
      position: relative;
      z-index: 100;

      //   span {
      //     position: relative;
      //     display: block;
      //     width: 4rem;
      //     background-color: $color-secondary;
      //     height: 2px;
      //     transition: background-color 0.3s $bezier-curve,
      //       height 0.3 $bezier-curve;

      //     &::before,
      //     &::after {
      //       content: '';
      //       display: block;
      //       position: absolute;
      //       width: 2rem;
      //       background-color: $color-secondary;
      //       height: 2px;
      //       transition: top, width, transform;
      //       transition-duration: 0.3s;
      //       transition-timing-function: $bezier-curve;
      //     }

      //     &::before {
      //       top: -10px;
      //     }

      //     &::after {
      //       top: 10px;
      //       right: 0;
      //     }
      //   }
    }

    &.open {
      min-height: 100vh;

      .nav-list {
        transform: scale(1);
      }

      & .navigation__button {
        // span {
        //   background-color: transparent;
        //   height: 0px;

        //   &::before,
        //   &::after {
        //     width: 100%;
        //     top: 0;
        //   }

        //   &::before {
        //     transform: rotate(45deg);
        //   }

        //   &::after {
        //     transform: rotate(-45deg);
        //   }
        // }
      }
    }
  }
}
